@import url('https://fonts.googleapis.com/css2?family=Poppins: wght@400; 600; 900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    /* overflow: hidden; */
    background-color: #f3f5f8;
}
.container{
    width: 100%;
    min-height: 10vh;
    background-color:#f3f5f8;
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    line-height: 70px;
    z-index: 60;
}
.logo{
    display: flex;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    color: #3d535f;
    text-transform: capitalize;
    font-family: 'Cookie',cursive;
    margin-left: -50px;
}
.navigations li{
    list-style-type:none;
    margin: 0px 25px;
   
}
.navigations{
    display: flex;
}
b{
    font-size: 50px;
    color: #7f00ff;
}
.navigations li a{
    text-decoration: none;
    font-size: 19.5px;
    color: #3d535f;
    letter-spacing: 3px;
    text-transform: capitalize;
    position: relative;
    padding: 0 10px;
    
}
.navigations li a::after{
    content: "";
    position: absolute;
    background-color:  #3d535f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.navigations li a:hover{
    color: black;
}
.navigations li a:hover:after{
    width: 100%;
}
.box{
    border: 1px solid black;
    width: 350px;
    height:450px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/IMG_20221231_214045_011.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box:hover{
    transform:scale(1.09) ;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.matte h1{
    font-size: 60px;
    font-family: 'Poppins'  ;
    letter-spacing: 1.5px;
    color: #3d535f;
}
.matte h1 span{
    color: #6600cb;
}
.matte{
    text-align: center;
}
.matte p{
    color: #3d535f;
    letter-spacing: 1.5px;
    font-size: 25px;
    line-height: 28px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 10%;
    overflow: hidden;
    margin-top: 150px;
    text-align: center;
}
.cont1 p{
    margin-left: -120px;
    font-size: 30px;
    font-family: 'Cookie',cursive;
    color: #f8710a;
    margin-top: 10px;
}
.cont1 h1{
    font-family: 'Poppins';
    font-size: 40px;
}
.box0{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/Screenshot\ 2023-03-12\ 234420.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box0:hover{
    transform:scale(1.09);
}
.box1{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/what.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-left: 40px; */
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box1:hover{
    transform:scale(1.09);
}
.box2{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-repeat: no-repeat;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/amma.png);
    background-size:cover;
    background-position: center;
    
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box2:hover{
    transform:scale(1.09);
}
.box3{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/royal.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box3:hover{
    transform:scale(1.09);
}
.boxes{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* background-color: black; */
    margin-top: 20px;
    margin-bottom: 60px;

}
.boxes div span{
    text-align: center;
    margin-left: 30px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    padding: 0 10px;
    z-index: 2;
}
.mb{
    transition: 0.3s;

}
.mb:hover{
    transform: scale(1.1);
}
.boxes1{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    /* background-color: black; */
    margin-top: 10px;

}
.boxes1 div span{
    text-align: center;
    margin-left: 30px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    padding: 0 10px;
    z-index: 2;
}
.box4{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/surprise.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box4:hover{
    transform:scale(1.09);
}
.box5{
    border: 1px solid black;
    width: 270px;
    height:200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(./images/shadi.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-left: 0px;
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    transition: 0.4s;
}
.box5:hover{
    transform:scale(1.09);
}


.contact{
    width: 100%;
    height: 100vh;
    background-color:#f3f5f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
    font-weight: 800;

}
h1 span{
    color: #3d535f;
}
p{
    color:rgb(250, 168, 60);
    font-size: 20px;
    margin: 10px 0 30px;
}
.links{
    display: flex;
}
.links a{
    width: 60px;
    height: 60px;
    margin: 0 30px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.5);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.links a .fa-brands{
    font-size: 30px;
    line-height: 60px;
    position: relative;
    z-index: 10;
    transition: .5s;

}
.links a .fa-brands:hover{
    color: #fff;
}
.links a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background:linear-gradient(45deg,#ed1c94,#ffec17);
    position: absolute;
    transition: 0.5s;

}
.links a:hover:after{
    top: 0px;
}

button{
    margin: 23px 5px;
    outline: none;
    border: none;
    background:#fff;
    color: #000;
    box-shadow: 0 15px 10px rgba(0, 0,0,0.5);
    font-size: 20px;
    padding: 8px 17px;
    font-weight: 400;
    cursor: pointer;
    transition: .8s;
    position: relative;
    overflow: hidden;
    border-radius: 10%;
}
button:hover{
    color: #fff;
    z-index: 1;
    
}
button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background:linear-gradient(45deg,#ed1c94,#ffec17);
    left: 0;
    z-index: -1;
    transition: 3s;
    bottom: 0;
    border-radius: 50% 50% 0% 0%;
    color:#fff;
    }
button:hover:before{   
    height: 180%;
    color: #fff;
   
}
footer{
    background-color: #000;
}